@import "~sass-rem/rem";
/* stylelint-disable */
:root {
  --padding-tiny: rem(8px);
  --padding-small: rem(16px);
  --padding-medium: rem(24px);
  --padding-large: rem(32px);
  --padding-big: rem(48px);
  --padding-huge: rem(72px);
}
/* stylelint-enable */
