@import "./styles/index.scss";

body,
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

a,
button {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
